.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  font-family: AppFontRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(#FFFFFF, 0.9);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  display: block;
}

.icon {
  fill: #FFFF;
  margin-right: 9px;
  filter: drop-shadow(0px 0.33px 4px rgba(0, 0, 0, 0.1));
}
