.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
}

.actionBar {
  position: absolute;
  right: 12px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div:not(:last-child) {
    margin-bottom: 22px;

    z-index: 99999;
  }

  z-index: 99999;
}

.infoPanel {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > div:not(:last-child) {
    margin-bottom: 8px;
  }

  z-index: 99999;
}

.avatar {
  margin-bottom: 25px;
  z-index: 99999;
}

.description {
  font-family: AppFontRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.author {
  font-family: AppFontRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: AppFontRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  position: absolute;
  top: 12px;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.copyToaster {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;

  > span {
    font-family: AppFontRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    padding: 3px;
  }
}

.videoBackground {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(25px);
  -webkit-filter: blur(25px);
}

.playButtonContainer {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  width: 64px;
  height: 64px;
}

.loadingPlayButtonContainer {
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
