@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

:root, body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'AppFontRegular';
  src: local('ProximaNova-Regular'), url('./static/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
